<div class="footer-page">

    <div class="row">
        <div class="col-12">

            <div class="socials col-8 col-sm-6 col-md-6">
                <a href="https://github.com/iodynamic" target="_blank" class="social"><img src="assets/svg/logo/github.svg" /></a>
                <a href="https://t.me/iodynamic" target="_blank" class="social"><img src="assets/svg/logo/telegram.svg" /></a>
            </div>

            <div class="links col-8 col-sm-6 col-md-6">
                <a routerLink="/contact-us">{{this.language.Footer_Link_ContactUs}}</a>
                <a href="https://iodynamic.com/policy/privacy-policy" target="_blank">{{this.language.Footer_Link_Privac_Policy}}</a>
            </div>
        </div>

    </div>

    <!-- <img id = 'nbqenbqewlaoapfuoeukesgt' style = 'cursor:pointer' onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=224580&p=uiwkuiwkaodsdshwmcsiobpd", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt = 'logo-samandehi' src = 'https://logo.samandehi.ir/logo.aspx?id=224580&p=odrfodrfshwlujynaqgwlyma' />-->
    <div class="copyright_Container">
        <div class="logo" draggable="false">
            <div class="logo-dynamic">
                <div class="line one"></div>
                <div class="line two"></div>
                <div class="line three"></div>
            </div>
            <img id="footer_iodynamic_logo" class="iodynamic_logo" src="assets/images/ic_iodynamic_default.png" draggable="false" />
        </div>

        <p class="copyright copyright-first">{{this.language.Footer_Copyright}}</p>
        <p class="copyright ">{{this.language.Footer_Copyright_Name}}</p>
    </div>


</div>


