@import '../../../@theme/styles/themes';

@include nb-install-component() {


	@media only screen and (min-width: 575px) {
		/* For desktop */
		.cli {

			.center {
				width: 75%;
			}
		}
	}

	@media only screen and (max-width: 575px) {
		/* For tablets */
		.cli {

			.center {
				width: 100%;
			}
		}
	}

	.cli {
		position: var(--cli-position);
		z-index: 10000;
		visibility: hidden;

		.center {
			max-width: 850px;
			min-width: 250px;
			margin: 0 auto;
			position: var(--cli-center-position);
			// transform: translate(-50%, -50%);
			// top: 50%;
			// left: 50%;
			box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
			border-radius: 8px;

			.header {
				height: var(--cli-header-height);
				position: relative;
				-webkit-user-select: none;
				-html-user-select: none;
				-moz-user-select: none;
				-o-user-select: none;
				user-select: none;
				direction: rtl;
				text-align: right;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
				touch-action: none; // Resolve this error: Unable to preventDefault inside passive event listener

				img {
					margin-right: 10px;
					position: absolute;
					top: 0;
					/*@if var(--cli-is-home) {
						visibility: hidden;
					}*/
				}
			}

			.body {
				width: 100%;
				overflow: auto;
				background-color: nb-theme(background-basic-color-1);
				// border: solid 3px #e9e9e9;
				border-top: none;
				direction: ltr;

				.container {
					padding: 0;
					margin: 0;
					width: 100%;
					min-width: 100%; // solve problem when sometimes width not 100%
					height: var(--cli-height);
					background-color: #353535;
					border-radius: 6px;
					overflow-y: auto;
					-webkit-filter: drop-shadow(0px 0px 1px grey);
					filter: drop-shadow(0px 0px 1px grey);

					ul {
						padding: 0;
						margin: 8px 5px 0;
						list-style-type: none;

						li {
							display: block;
							margin: 3px 0;
							color: #f9f9f9;
							font-family: var(--global-font);
							font-size: 15px;
						}

						.cmd-cursor {
							width: 3px;
							display: inline-block;
							background-color: gray;
							margin: 0;
							visibility: hidden;
						}
					}
				}
			}

			.glass {
				backdrop-filter: contrast(105%) brightness(98%) blur(2px);
				background: radial-gradient( ellipse at 16.7% -10%, hsla(0, 0%, 100%, 0.44) 24%, hsla(0, 0%, 100%, 0.4) 25%, hsla(0, 0%, 100%, 0.2) 45%, hsla(0, 0%, 100%, 0.1) );
				background-size: 150% 100%;
			}


			.box {
				background-clip: padding-box; /* Background stops at border */
				border: var(--cli-border-width) solid rgba(255,255,255,.12);
				border-top: none;
				// -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
				// -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
				// -khtml-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
				// box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
			}
		}
	}
}
