<div id="Cli" class="cli {{direction}}">
	<div class="center" id="Cli_Center">
		<div id="Cli_Header" class="header glass">
			<img src="assets/images/ic_close.png" id="Cli_Header_Close_Img" draggable="false" (click)="onCloseClick()" closeImgDirective/>
		</div>
		<div id="Cli_Body" class="body box">
			<div id="Cli_Container" class="container">
					<ul id="Cli_Ul">

					</ul>
					<ul>
						<li id="Cli_Cursor" class="cmd-cursor">&nbsp;</li>
					</ul>
			</div>
		</div>
	</div>

</div>
