<div class="project {{direction}}">
	<div class="page-container">

		<nb-card>
			<nb-card-header class="page-header">
				<img src="assets/images/ic_project_telegram.png" class="page-header-image" /><h1 class="page-header-title">{{language.MembergirPage_AppName}}</h1>
			</nb-card-header>

			<nb-card-body class="body_container">
				<div class="body_container">
					{{language.MembergirPage_Introduction}}
					<br />
					<br />
					<br />
					<h6>{{language.MembergirPage_AboutApp_Header}}</h6>
					<div class="block">
						<img class="icon" src="assets/svg/free.svg">
						<h6 class="title">{{language.MembergirPage_AboutApp_Title_1}}</h6>
						<div class="matn">{{language.MembergirPage_AboutApp_Message_1}}</div>
					</div>
					<br />
					<div class="block">
						<img class="icon" src="assets/svg/love.svg">
						<h6 class="title">{{language.MembergirPage_AboutApp_Title_2}}</h6>
						<div class="matn">{{language.MembergirPage_AboutApp_Message_2}}</div>
					</div>
					<br />
					<div class="block">
						<img class="icon" src="assets/svg/speedometer.svg">
						<h6 class="title">{{language.MembergirPage_AboutApp_Title_3}}</h6>
						<div class="matn">{{language.MembergirPage_AboutApp_Message_3}}</div>
					</div>
					<br />
					<div class="block">
						<img class="icon" src="assets/svg/diagram.svg">
						<h6 class="title">{{language.MembergirPage_AboutApp_Title_4}}</h6>
						<div class="matn">{{language.MembergirPage_AboutApp_Message_4}}</div>
					</div>
					<br />
					<div class="block">
						<img class="icon" src="assets/svg/lock.svg">
						<h6 class="title">{{language.MembergirPage_AboutApp_Title_5}}</h6>
						<div class="matn">{{language.MembergirPage_AboutApp_Message_5}}</div>
					</div>

					<br />
					<br />
					<br />
					<h6>{{language.MembergirPage_HowWorks_Title}}</h6>
					<br />
					<p>{{language.MembergirPage_HowWorks_Message}}</p>

				</div>
			</nb-card-body>

		</nb-card>



		<div class="download" id="Membergir_Download">
			<nb-card>
				<nb-card-header>
					<div class="header">
						<img src="assets/images/ic_projects.png" /><h5>{{language.MembergirPage_Download_Header}}</h5>
					</div>
				</nb-card-header>

				<div style="opacity: 0; height: 3px;">
					{{language.MembergirPage_Tags3}}
					{{language.MembergirPage_Tags4}}
					{{language.MembergirPage_Tags5}}
				</div>

				<nb-card-body>
					<div class="body_container">
						{{language.MembergirPage_Download_Introduction}}
						<br />
						<br />
						<div class="header">
							<img src="assets/svg/browser.svg" />
							<h6 class="text">{{language.MembergirPage_Download_Web}}</h6>
						</div>
						<a class="block">
							<div class="title">{{language.MembergirPage_Download_Web_Login}}</div>
						</a>
						<br />
						<br />
			
						<div class="header">
							<img src="assets/svg/logo/android.svg" />
							<h6 class="text">{{language.MembergirPage_Download_Android}}</h6>
						</div>
						<p>{{language.MembergirPage_Download_Download_Title_1}}</p>
						<a class="block">
							<div class="title">{{language.MembergirPage_Download_Download_Message_1}}</div>
						</a>
						<br />
						<br />
						<p>{{language.MembergirPage_Download_Download_Title_2}}</p>
						<a class="block" href="https://t.me/iodynamic" target="_blank">
							<img src="assets/svg/logo/telegram.svg" />
							<div class="title">{{language.MembergirPage_Download_Download_Message_2}}</div>
						</a>
						<br />
						<br />
						<p>{{language.MembergirPage_Download_Download_Title_3}}</p>
						<div class="app-stores">
							<a class="block" href="https://cafebazaar.ir/app/iodynamic" target="_blank">
								<img src="assets/images/ic_bazaar.png" />
								<div class="title">{{language.MembergirPage_Download_Download_Message_3_1}}</div>
							</a>
							<br />
							<a class="block" href="https://myket.ir/app/iodynamic" target="_blank">
								<img src="assets/images/ic_myket.png" />
								<div class="title">{{language.MembergirPage_Download_Download_Message_3_2}}</div>
							</a>
						</div>
					</div>
				</nb-card-body>

			</nb-card>
		</div>





		<div class="ability">

			<div class="ability_header">
				<img class="page-header-image" src="assets/svg/info.svg" />
				<h5 class="page-header-title">{{language.MembergirPage_Ability_Header}}</h5>
			</div>

			<div class="ability_container">

				<div class="ability_body">
					<img class="head_img" src="assets/svg/speedometer.svg" />
					<h6>{{language.MembergirPage_Ability_1_Title}}</h6>
					<p>{{language.MembergirPage_Ability_1_Message}}</p>
				</div>
				<div class="ability_body">
					<img class="head_img" src="assets/svg/theme.svg" />
					<h6>{{language.MembergirPage_Ability_6_Title}}</h6>
					<p>{{language.MembergirPage_Ability_6_Message}}</p>
				</div>
				<div class="ability_body">
					<img class="head_img" src="assets/svg/lock.svg" />
					<h6>{{language.MembergirPage_Ability_3_Title}}</h6>
					<p>{{language.MembergirPage_Ability_3_Message}}</p>
				</div>

				<div class="ability_body">
					<img class="head_img" src="assets/images/ic_setting.png" />
					<h6>{{language.MembergirPage_Ability_4_Title}}</h6>
					<p>{{language.MembergirPage_Ability_4_Message}}</p>
				</div>
				<div class="ability_body">
					<img class="head_img" src="assets/svg/api.svg" />
					<h6>{{language.MembergirPage_Ability_5_Title}}</h6>
					<p>{{language.MembergirPage_Ability_5_Message}}</p>
				</div>
				<div class="ability_body">
					<img class="head_img" src="assets/images/ic_telegram_scratch.png" />
					<h6>{{language.MembergirPage_Ability_2_Title}}</h6>
					<p>{{language.MembergirPage_Ability_2_Message}}</p>
				</div>

			</div>
		</div>



		<div class="tags">
			<nb-card>
				<nb-card-header>
					<div class="header">
						<strong>{{language.MembergirPage_Tags}}</strong>
					</div>
				</nb-card-header>

				<nb-card-body>
					<div class="body_container">
						{{language.MembergirPage_Tags1}}
						{{language.MembergirPage_Tags2}}
						{{language.MembergirPage_Tags6}}
					</div>
				</nb-card-body>

			</nb-card>
		</div>



	</div>

</div>
