<div id="Select_{{componentId}}" class="select {{direction}}">
  <div id="Select_Body_{{componentId}}" class="select-body" style="direction:ltr; text-align: left;">
    <div class="dropdown" style="direction:ltr; text-align: left;">
        <button (click)="showSelect($event)" id="Select_Button_{{componentId}}" class="dropbtn">
            <img id="Select_Button_Icon_Arrow_{{componentId}}" class="arrow" src="assets/svg/handless_arrow_down.svg" />
        </button>
      <div id="Select_DropDown_{{componentId}}" class="dropdown-content">

      </div>
    </div>
  </div>
</div>
