<nb-layout>
	<nb-layout-column>
		<div class="privacy {{direction}}">
			<nb-card>
				<nb-card-header>
					<div class="header">
						<img src="assets/svg/contract_document.svg" class="center1" />
						<h6 class="center5">{{language.Privacy_Header}}</h6>
					</div>
				</nb-card-header>

				<nb-card-body>
					<div class="body_container">

						<p>{{language.Privacy_Base}} </p>
						<p>{{language.Privacy_Base1}}</p>
						<br />
						<br />
						<strong class="header">{{language.Privacy_AboutUs_Title}}</strong>
						<p>{{language.Privacy_AboutUs_Msg}}</p>
						<br />
						<br />
						<strong class="header">{{language.Privacy_DocChange_Title}}</strong>
						<p>{{language.Privacy_DocChange_Msg}}</p>
						<p>{{language.Privacy_DocChange_Msg1}}</p>
						<br />
						<br />
						<strong class="header">{{language.Privacy_Main_Title}}</strong>
						<p>{{language.Privacy_Main_Msg}}</p>

						<br />
						<br />
						<strong class="header">{{language.Privacy_Secure_Title}}</strong>
						<p>{{language.Privacy_Secure_Msg}}</p>
						<ul>
							<li>{{language.Privacy_Secure_Msg_1}}</li>
							<li>{{language.Privacy_Secure_Msg_2}}</li>
						</ul>
						<p>{{language.Privacy_Secure_Msg_3}}</p>
						<ul>
							<li>{{language.Privacy_Secure_Msg_4}}</li>
							<li>{{language.Privacy_Secure_Msg_5}}</li>
							<li>{{language.Privacy_Secure_Msg_6}}</li>
						</ul>
						<br />
						<br />


						<strong class="header">{{language.Privacy_How_Choose_Title}}</strong>
						<p>{{language.Privacy_How_Choose_Msg}}</p>
						<ul>
							<li>{{language.Privacy_How_Choose_Msg_1}}</li>
							<li>{{language.Privacy_How_Choose_Msg_2}}</li>
						</ul>

						<br />
						<br />
						<strong class="header">{{language.Privacy_Choose_Title}}</strong>
						<p>{{language.Privacy_Choose_Msg}}</p>
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
					</div>
				</nb-card-body>
			</nb-card>
		</div>
	</nb-layout-column>
</nb-layout>
