<div class="project {{direction}}">
  <div class="introduction">
    <nb-card>
      <nb-card-header>
        <div class="header">
          <img src="assets/images/ic_project_mobilebank.png" /><h6>{{language.MobileBank_AppName}}</h6>
        </div>
      </nb-card-header>

      <nb-card-body>
        <div class="row">
          <div class="body_container col-sm-7">
            {{language.MobileBank_Introduction}}
            <br />
            <br />
            <br />
            <h6>{{language.MobileBank_AboutApp_Header}}</h6>
            <div class="block">
              <nb-icon icon="monitor" status="basic"></nb-icon>
              <div class="title">{{language.MobileBank_AboutApp_Title_1}}</div>
              <div class="matn">{{language.MobileBank_AboutApp_Message_1}}</div>
            </div>
            <div class="block">
              <nb-icon icon="shield" status="danger"></nb-icon>
              <div class="title">{{language.MobileBank_AboutApp_Title_2}}</div>
              <div class="matn">{{language.MobileBank_AboutApp_Message_2}}</div>
            </div>
            <div class="block">
              <nb-icon icon="email" status="success"></nb-icon>
              <div class="title">{{language.MobileBank_AboutApp_Title_3}}</div>
              <div class="matn">{{language.MobileBank_AboutApp_Message_3}}</div>
            </div>
            <div class="block">
              <nb-icon icon="grid" status="primary"></nb-icon>
              <div class="title">{{language.MobileBank_AboutApp_Title_4}}</div>
              <div class="matn">{{language.MobileBank_AboutApp_Message_4}}</div>
            </div>
            <div class="block">
              <nb-icon icon="shopping-cart" status="success"></nb-icon>
              <div class="title">{{language.MobileBank_AboutApp_Title_5}}</div>
              <div class="matn">{{language.MobileBank_AboutApp_Message_5}}</div>
            </div>
            <div class="block">
              <nb-icon icon="credit-card" status="warning"></nb-icon>
              <div class="title">{{language.MobileBank_AboutApp_Title_6}}</div>
              <div class="matn">{{language.MobileBank_AboutApp_Message_6}}</div>
            </div>
            <div class="block">
              <nb-icon icon="lock" status="info"></nb-icon>
              <div class="title">{{language.MobileBank_AboutApp_Title_7}}</div>
              <div class="matn">{{language.MobileBank_AboutApp_Message_7}}</div>
            </div>


            <br />
            <br />
            <br />
            <h6>{{language.MobileBank_HowWorks_Title}}</h6>
            <p>
              {{language.MobileBank_HowWorks_Message}}
            </p>
          </div>
        </div>
      </nb-card-body>

    </nb-card>
  </div>

  <div class="ability">
    <div class="row">
      <div class="col-sm-9 header_container">
        <nb-card>
          <nb-card-header>
            <div class="header">
              <img src="assets/images/ic_info.png" /><h6>{{language.MobileBank_Ability_Header}}</h6>
            </div>
          </nb-card-header>
        </nb-card>
      </div>
    </div>

    <div class="row">
      <div class="ability_container col-sm-9">
        <div class="ability_body col-lg-4 col-md-6 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="head_img center" src="assets/images/ic_fingerprint.png" />
              <h6 class="text_center">{{language.MobileBank_Ability_1_Title}}</h6>
              <p class="text_center">{{language.MobileBank_Ability_1_Message}}</p>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="ability_body col-lg-4 col-md-6 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="head_img center" src="assets/images/ic_cardbank.png" />
              <h6 class="text_center">{{language.MobileBank_Ability_2_Title}}</h6>
              <p class="text_center">{{language.MobileBank_Ability_2_Message}}</p>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="ability_body col-lg-4 col-md-6 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="head_img center" src="assets/images/ic_secure.png" />
              <h6 class="text_center">{{language.MobileBank_Ability_3_Title}}</h6>
              <p class="text_center">{{language.MobileBank_Ability_3_Message}}</p>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="ability_container col-sm-9">
        <div class="ability_body col-lg-4 col-md-6 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="head_img center" src="assets/images/ic_setting.png" />
              <h6 class="text_center">{{language.MobileBank_Ability_4_Title}}</h6>
              <p class="text_center">{{language.MobileBank_Ability_4_Message}}</p>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="ability_body col-lg-4 col-md-6 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="head_img center" src="assets/images/ic_lock.png" />
              <h6 class="text_center">{{language.MobileBank_Ability_5_Title}}</h6>
              <p class="text_center">{{language.MobileBank_Ability_5_Message}}</p>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="ability_body col-lg-4 col-md-6 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="head_img center" src="assets/images/ic_brush.png" />
              <h6 class="text_center">{{language.MobileBank_Ability_6_Title}}</h6>
              <p class="text_center">{{language.MobileBank_Ability_6_Message}}</p>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </div>


  <div class="download">
    <nb-card>
      <nb-card-header>
        <div class="header">
          <img src="assets/images/ic_projects.png" /><h6>{{language.MobileBank_Download_Header}}</h6>
        </div>
      </nb-card-header>

      <nb-card-body>
        <div class="row">
          <div class="body_container col-sm-7">
            {{language.MobileBank_Download_Introduction}}
            <br />
            <br />
            <br />
            <br />
            <h6>{{language.MobileBank_Download_Download_Title_1}}</h6>
            <a class="block" href="https://cafebazaar.ir/app/ir.microks.card_bank" target="_blank">
              <img src="assets/images/ic_bazaar.png" />
              <div class="title">{{language.MobileBank_Download_Download_Message_1_1}}</div>
            </a>
            <br />
            <a class="block" href="https://myket.ir/app/ir.microks.card_bank" target="_blank">
              <img src="assets/images/ic_myket.png" />
              <div class="title">{{language.MobileBank_Download_Download_Message_1_2}}</div>
            </a>
          </div>
        </div>
      </nb-card-body>

    </nb-card>
  </div>



</div>
