<div id="PopUp_{{componentId}}" class="popup {{direction}}">
    <div class="center" id="PopUp_Center_{{componentId}}">
        <div id="PopUp_Header_{{componentId}}" class="header glass">
            <img src="assets/images/ic_close.png" id="PopUp_Header_Close_Img_{{componentId}}" draggable="false" (click)="onClickClose()" closeImgDirective />
        </div>
        <div id="PopUp_Body_{{componentId}}" class="body box">
            <div id="PopUp_Container_{{componentId}}" class="container">

            </div>
        </div>
    </div>
</div>
