<div id="Dialog_{{componentId}}" class="dialog {{direction}}">

  <div id="Dialog_Center_{{componentId}}" class="center">
    <div id="Dialog_Header_{{componentId}}" class="header glass">
      <img src="assets/images/ic_close.png" id="Dialog_Header_Close_Img_{{componentId}}" draggable="false" (click)="onClickClose()" closeImgDirective/>
    </div>

    <div id="Dialog_Body_{{componentId}}" class="body box">
      <div id="Dialog_Container_{{componentId}}" class="container">


      </div>
    </div>
  </div>

</div>
