<div class="project {{direction}}">
  <div class="introduction">
    <nb-card>
      <nb-card-header>
        <div class="header">
          <img src="assets/images/ic_project_dubsman.png" /><h6>{{language.Dubsman_AppName}}</h6>
        </div>
      </nb-card-header>

      <nb-card-body>
        <div class="row">
          <div class="body_container col-sm-7">
            {{language.Dubsman_Introduction}}
            <br />
            <br />
            <h6>{{language.Dubsman_AboutApp_Header}}</h6>
            <div class="block">
              <nb-icon icon="film" status="danger"></nb-icon>
              <div class="title">{{language.Dubsman_AboutApp_Title_1}}</div>
              <div class="matn">{{language.Dubsman_AboutApp_Message_1}}</div>
            </div>
            <div class="block">
              <nb-icon icon="save" status="warning"></nb-icon>
              <div class="title">{{language.Dubsman_AboutApp_Title_2}}</div>
              <div class="matn">{{language.Dubsman_AboutApp_Message_2}}</div>
            </div>
            <div class="block">
              <nb-icon icon="mic" status="info"></nb-icon>
              <div class="title">{{language.Dubsman_AboutApp_Title_3}}</div>
              <div class="matn">{{language.Dubsman_AboutApp_Message_3}}</div>
            </div>
            <div class="block">
              <nb-icon icon="video" status="success"></nb-icon>
              <div class="title">{{language.Dubsman_AboutApp_Title_4}}</div>
              <div class="matn">{{language.Dubsman_AboutApp_Message_4}}</div>
            </div>
            <div class="block">
              <nb-icon icon="layers" status="basic"></nb-icon>
              <div class="title">{{language.Dubsman_AboutApp_Title_5}}</div>
              <div class="matn">{{language.Dubsman_AboutApp_Message_5}}</div>
            </div>

            <br />
            <br />
            <br />
            <h6>{{language.Dubsman_HowWorks_Title}}</h6>
            <p>
              {{language.Dubsman_HowWorks_Message}}
            </p>
          </div>
        </div>
      </nb-card-body>

    </nb-card>
  </div>

  <div class="ability">
    <div class="row">
      <div class="col-sm-9 header_container">
        <nb-card>
          <nb-card-header>
            <div class="header">
              <img src="assets/images/ic_info.png" /><h6>{{language.Dubsman_Ability_Header}}</h6>
            </div>
          </nb-card-header>
        </nb-card>
      </div>
    </div>

    <div class="row">
      <div class="ability_container col-sm-9">
        <div class="ability_body col-lg-4 col-md-6 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="head_img center" src="assets/images/ic_microphone.png" />
              <h6 class="text_center">{{language.Dubsman_Ability_1_Title}}</h6>
              <p class="text_center">{{language.Dubsman_Ability_1_Message}}</p>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="ability_body col-lg-4 col-md-6 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="head_img center" src="assets/images/ic_yahoo.png" />
              <h6 class="text_center">{{language.Dubsman_Ability_2_Title}}</h6>
              <p class="text_center">{{language.Dubsman_Ability_2_Message}}</p>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="ability_body col-lg-4 col-md-6 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="head_img center" src="assets/images/ic_video_director.png" />
              <h6 class="text_center">{{language.Dubsman_Ability_3_Title}}</h6>
              <p class="text_center">{{language.Dubsman_Ability_3_Message}}</p>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="ability_container col-sm-9">
        <div class="ability_body col-lg-4 col-md-6 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="head_img center" src="assets/images/ic_setting.png" />
              <h6 class="text_center">{{language.Dubsman_Ability_4_Title}}</h6>
              <p class="text_center">{{language.Dubsman_Ability_4_Message}}</p>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="ability_body col-lg-4 col-md-6 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="head_img center" src="assets/images/ic_video.png" />
              <h6 class="text_center">{{language.Dubsman_Ability_5_Title}}</h6>
              <p class="text_center">{{language.Dubsman_Ability_5_Message}}</p>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="ability_body col-lg-4 col-md-6 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="head_img center" src="assets/images/ic_brush.png" />
              <h6 class="text_center">{{language.Dubsman_Ability_6_Title}}</h6>
              <p class="text_center">{{language.Dubsman_Ability_6_Message}}</p>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </div>


  <div class="download">
    <nb-card>
      <nb-card-header>
        <div class="header">
          <img src="assets/images/ic_projects.png" /><h6>{{language.Dubsman_Download_Header}}</h6>
        </div>
      </nb-card-header>

      <nb-card-body>
        <div class="row">
          <div class="body_container col-sm-7">
            {{language.Dubsman_Download_Introduction}}
            <br />
            <br />
            <br />
            <br />
            <h6>{{language.Dubsman_Download_Download_Title_1}}</h6>
            <a class="block" href="https://microks.ir/download/dubsman.apk">
              <img src="assets/images/ic_apk.png" />
              <div class="title">{{language.Dubsman_Download_Download_Message_1}}</div>
            </a>
            <br />
            <br />
            <br />
            <h6>{{language.Dubsman_Download_Download_Title_2}}</h6>
            <a class="block" href="https://t.me/microks" target="_blank">
              <img src="assets/images/ic_telegram_64.png" />
              <div class="title">{{language.Dubsman_Download_Download_Message_2}}</div>
            </a>
            <br />
            <br />
            <br />
            <h6>{{language.Dubsman_Download_Download_Title_3}}</h6>
            <a class="block" href="https://cafebazaar.ir/app/ir.microks.dubsman1" target="_blank">
              <img src="assets/images/ic_bazaar.png" />
              <div class="title">{{language.Dubsman_Download_Download_Message_3_1}}</div>
            </a>
            <br />
            <a class="block" href="https://myket.ir/app/ir.microks.dubsman1" target="_blank">
              <img src="assets/images/ic_myket.png" />
              <div class="title">{{language.Dubsman_Download_Download_Message_3_2}}</div>
            </a>
          </div>
        </div>
      </nb-card-body>

    </nb-card>
  </div>



</div>
